main.dispositifs img#dispositifs_bg {
    position: fixed;
    max-width: auto;
    height: 100%;
    width: auto;
    top: 1%;
}

main.dispositifs .dispositifs_bloc {
    padding-bottom: 2em;
}

main.dispositifs img#dispositifs_img1 {
    height: auto;
    width: 150px;
}

main.dispositifs #depot img {
    height: 50px;
    width: auto;
}

main.dispositifs .dispositifs_bloc p {
    margin-bottom: 0.7em;
}

@media screen and (min-width: 79em) {
    main.dispositifs .dispositifs_bloc {
        position: absolute;
        top: 8%;
        right: 20%;
    }
    main.dispositifs .dispositifs_bloc p {
        font-size: 20px;
    }
    @media screen and (max-height: 45em) {
        main.dispositifs img#dispositifs_img1 {
            height: auto;
            width: 220px;
        }
        main.dispositifs .row {
            margin-bottom: 1em;
        }
        #dispositifs_img1 {
            display: none;
        }
        main.dispositifs img#dispositifs_bg {
            display: none;
        }
        main.dispositifs .dispositifs_bloc {
            position: absolute;
            top: 7%;
            right: 50%;
            transform: translate(50%, 0%);
        }
    }
}

@media screen and (max-width: 79em) {
    main.dispositifs img#dispositifs_img1 {
        height: auto;
        width: 220px;
    }
    main.dispositifs .dispositifs_bloc {
        position: absolute;
        top: 7%;
        right: 50%;
        transform: translate(50%, 0%);
    }
    main.dispositifs .row {
        margin-bottom: 1em;
    }
    main.dispositifs img#dispositifs_bg {
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .dispositifs_bloc {
        font-size: 14px;
    }
    h3 {
        font-size: 20px;
    }
    #dispositifs_img1 {
        display: none;
    }
}

@media screen and (max-width: 720px) {
    .dispositifs_bloc {
        font-size: 12px;
    }
    h3 {
        font-size: 16px;
    }
    main.dispositifs #depot img {
        display: none;
    }
}

@media screen and (max-width: 630px) {
    .dispositifs_bloc {
        font-size: 10px;
    }
    h3 {
        font-size: 14px;
    }
}

@media screen and (max-width: 540px) {
    .dispositifs_bloc {
        font-size: 8px;
    }
    h3 {
        font-size: 12px;
    }
}

@media screen and (max-width: 440px) {
    .dispositifs_bloc {
        font-size: 5px;
    }
    h3 {
        font-size: 7px;
    }
}